div#inputs input {max-width: 10rem;}
input#downpercent, input#interest {max-width: 5rem;}
input#termyears, input#termmonths {max-width: 6rem;}
div#inputs label, div#output label {font-weight: bold; font-family:initial;}
label#payment, label#totalpayment, label#totalloanpayment, label#totalinterest {color: teal;}
thead.fixedHeader tr {position: relative;}
html>body thead.fixedHeader tr {
	display: block
}
thead.fixedHeader th {
	background: #C96;
	border-left: 1px solid #EB8;
	border-right: 1px solid #B74;
	border-top: 1px solid #EB8;
	font-weight: normal;
	padding: 4px 3px;
	text-align: left
}
tbody.scrollContent td, tbody.scrollContent tr.normalRow td {
	background: #FFF;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
tbody.scrollContent tr.alternateRow td {
	background: #EEE;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px
}
html>body tbody.scrollContent {
	display: block;
	height: 400px;
	overflow: auto;
	width: 100%
}
td, th {min-width: 100px; max-width: 100px;}
div.tablecontainer {height:400px; overflow:auto}
html>body div.tableContainer {
	overflow: hidden;
}
